Repository proxmoxer/proxmoxer, pull requests merged in 2020-05, with the labels that each got.

#21 Update setup.py with PIP package info
  .gitignore
  setup.py
Labels: type:docs :memo:, type:maintenance :hammer_and_wrench:

#20 API Token Auth for HTTPS
  proxmoxer/backends/https.py
  tests/https_tests.py
Labels: backend:https, type:enhancement :arrow_double_up:

#16 Add Token Refresh to Https Backend
  proxmoxer/backends/https.py
Labels: backend:https, type:enhancement :arrow_double_up:

#22 handle empty stderr from ssh connections
  proxmoxer/backends/base_ssh.py
Labels: backend:ssh_paramiko, type:bug :beetle:

#24 Fix get_tokens() error with API tokens
  proxmoxer/backends/https.py
  proxmoxer/core.py
  tests/https_tests.py
Labels: backend:https, type:bug :beetle:, type:testing :test_tube:

#25 Deprecate old token auth
  proxmoxer/backends/https.py
  tests/https_tests.py
Labels: backend:https, type:enhancement :arrow_double_up:

#27 Doc updates 1.1.0
  README.rst
Labels: type:docs :memo:

#26 Version 1.1.0
  .gitignore
  README.rst
  proxmoxer/__init__.py
  proxmoxer/backends/base_ssh.py
  proxmoxer/backends/https.py
  proxmoxer/core.py
  setup.py
  tests/https_tests.py
Labels: backend:https, backend:ssh_paramiko, status:blocked :stop_sign:, type:docs :memo:, type:enhancement :arrow_double_up:, type:testing :test_tube:
