Repository proxmoxer/proxmoxer, pull requests merged in 2021-12, with the labels that each got.

#80 Move CI to GitHub Actions
  .github/workflows/ci.yaml
Labels: type:testing :test_tube:, type:maintenance :hammer_and_wrench:

#79 HTTPS helper tests
  proxmoxer/backends/https.py
  tests/https_helpers_tests.py
Labels: type:testing :test_tube:, backend:https

#71 Wip ipv6
  proxmoxer/backends/https.py
  tests/https_tests.py
Labels: type:enhancement :arrow_double_up:, backend:https

#81 Fix display of API errors in ProxmoxResource._request
  proxmoxer/backends/https.py
  proxmoxer/core.py
Labels: type:enhancement :arrow_double_up:
