Repository proxmoxer/proxmoxer, pull requests merged in 2022-11, with the labels that each got.

#118 Add Python 3.11 to CI action
  .github/workflows/ci.yaml
Labels: type:maintenance :hammer_and_wrench:

#120 Remove `None` values from request params and data (Fixes #119)
  proxmoxer/core.py
  tests/test_core.py
Labels: type:bug :lady_beetle:, type:testing :test_tube:

#122 Cleanup core.py
  proxmoxer/backends/command_base.py
  proxmoxer/backends/https.py
  proxmoxer/core.py
Labels: type:enhancement :arrow_double_up:, type:maintenance :hammer_and_wrench:

#125 Move AuthenticationError to main proxmox. namespace
  .vscode/tasks.json
  proxmoxer/backends/https.py
  proxmoxer/core.py
  tests/test_command_base.py
  tests/test_core.py
  tests/test_https.py
  tests/test_local.py
  tests/test_openssh.py
  tests/test_paramiko.py
Labels: type:testing :test_tube:, backend:https, type:maintenance :hammer_and_wrench:
