Repository proxmoxer/proxmoxer, pull requests merged in 2022-03, with the labels that each got.

#86 Clean up SSH backends and add `local` backend.
  .github/workflows/ci.yaml
  .vscode/settings.json
  CHANGELOG.md
  proxmoxer/backends/command_base.py
  proxmoxer/backends/local.py
  proxmoxer/backends/openssh.py
  proxmoxer/backends/ssh_paramiko.py
  proxmoxer/core.py
  setup.py
  test_requirements.txt
  tests/base/base_suite.py
  tests/https_tests.py
  tests/known_issues.json
  tests/local_tests.py
  tests/openssh_tests.py
  tests/paramiko_tests.py
Labels: type:enhancement :arrow_double_up:

#90 Enable proper handling of QEMU exec commands
  proxmoxer/backends/command_base.py
  proxmoxer/backends/https.py
  test_requirements.txt
  tests/base/base_suite.py
  tests/https_tests.py
Labels: type:enhancement :arrow_double_up:, type:testing :test_tube:, backend:https, backend:openssh, backend:ssh_paramiko

#94 Fix config file not being used in openssh
  proxmoxer/backends/openssh.py
Labels: type:enhancement :arrow_double_up:, backend:openssh

#95 Remove deprecated ProxmoxHTTPTicketAuth
  proxmoxer/backends/https.py
Labels: type:enhancement :arrow_double_up:, backend:https
